<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

<PLUGIN 
  name="labelman"
  author="Derek Kaser"
  version="{{ env['PLUGIN_VERSION'] }}"
  pluginURL="https://raw.githubusercontent.com/tyrelwar/unraid-labelman/main/plugin/labelman.plg"
  support="https://forums.unraid.net/topic/184701-plugin-label-manager/"
  min="6.12.0"
  icon="fa-tags"
>

<CHANGES>
<![CDATA[
###{{ env['PLUGIN_VERSION'] }}###
{{ env['PLUGIN_CHANGELOG'] }}

For older releases, see https://github.com/tyrelwar/unraid-labelman/releases
]]>
</CHANGES>

<FILE Name="/boot/config/plugins/labelman/unraid-labelman-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz">
<URL>https://github.com/tyrelwar/unraid-labelman/releases/download/{{ env['PLUGIN_VERSION'] }}/unraid-labelman-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz</URL>
<SHA256>{{ env['PLUGIN_CHECKSUM'] }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[
upgradepkg --install-new /boot/config/plugins/labelman/unraid-labelman-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz

# cleanup old versions
rm -f $(ls /boot/config/plugins/labelman/unraid-labelman-*.txz 2>/dev/null | grep -v '{{ env['PLUGIN_VERSION'] }}')

echo ""
echo "----------------------------------------------------"
echo " labelman has been installed."
echo " Version: {{ env['PLUGIN_VERSION'] }}"
echo "----------------------------------------------------"
echo ""
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
removepkg unraid-labelman

rm -rf /usr/local/emhttp/plugins/labelman
rm -rf /boot/config/plugins/labelman
]]>
</INLINE>
</FILE>

</PLUGIN>
